<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultAccountType</key>
	<string></string>
	<key>defaultAccountPassword</key>
	<string></string>
	<key>defaultAccountUsername</key>
	<string></string>
	<key>defaultAccountName</key>
	<string></string>
</dict>
</plist>
